In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
#creating a dataframe
df=pd.DataFrame(np.random.rand(10,4),columns=['A','B','C','D'])
df

          A         B         C         D
0  0.431342  0.839705  0.190764  0.577095
1  0.178177  0.143467  0.533088  0.852694
2  0.602483  0.793455  0.029708  0.896726
3  0.116848  0.118492  0.293472  0.739582
4  0.334276  0.638571  0.030365  0.573690
5  0.116508  0.342601  0.137179  0.041785
6  0.281401  0.000517  0.029195  0.733208
7  0.634052  0.283055  0.679461  0.663663
8  0.594373  0.122516  0.697170  0.508097
9  0.755233  0.249606  0.225544  0.478347

In [17]:
#creating a dataframe with dictionary
df2 = pd.DataFrame({'A' : [10,20],'B' : [20,100],'C' : [30,40],'D' : [40,50]})
df2

    A    B   C   D
0  10   20  30  40
1  20  100  40  50

In [19]:
df2.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [22]:
df2.dtypes

A    int64
B    int64
C    int64
D    int64
dtype: object

In [25]:
#converting data in arrays
df2.values

array([[ 10,  20,  30,  40],
       [ 20, 100,  40,  50]], dtype=int64)

In [39]:
#return the first top five rows
df.head(10)

          A         B         C         D
0  0.431342  0.839705  0.190764  0.577095
1  0.178177  0.143467  0.533088  0.852694
2  0.602483  0.793455  0.029708  0.896726
3  0.116848  0.118492  0.293472  0.739582
4  0.334276  0.638571  0.030365  0.573690
5  0.116508  0.342601  0.137179  0.041785
6  0.281401  0.000517  0.029195  0.733208
7  0.634052  0.283055  0.679461  0.663663
8  0.594373  0.122516  0.697170  0.508097
9  0.755233  0.249606  0.225544  0.478347

In [29]:
#looking at the last few values
df.tail()

          A         B         C         D
5  0.116508  0.342601  0.137179  0.041785
6  0.281401  0.000517  0.029195  0.733208
7  0.634052  0.283055  0.679461  0.663663
8  0.594373  0.122516  0.697170  0.508097
9  0.755233  0.249606  0.225544  0.478347

In [31]:
#to get the indexes
df.index

RangeIndex(start=0, stop=10, step=1)

In [33]:

#to get the column names
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [36]:

#to get quick statistics about the data
df.describe()

               A          B          C          D
count  10.000000  10.000000  10.000000  10.000000
mean    0.404469   0.353198   0.284594   0.606489
std     0.233016   0.298959   0.261792   0.242401
min     0.116508   0.000517   0.029195   0.041785
25%     0.203983   0.127754   0.057069   0.524495
50%     0.382809   0.266331   0.208154   0.620379
75%     0.600456   0.564579   0.473184   0.737989
max     0.755233   0.839705   0.697170   0.896726

In [45]:
# for sorting the index (the column or the row number)
df.sort_index(axis=0, ascending=False)

          A         B         C         D
0  0.431342  0.839705  0.190764  0.577095
1  0.178177  0.143467  0.533088  0.852694
2  0.602483  0.793455  0.029708  0.896726
3  0.116848  0.118492  0.293472  0.739582
4  0.334276  0.638571  0.030365  0.573690
5  0.116508  0.342601  0.137179  0.041785
6  0.281401  0.000517  0.029195  0.733208
7  0.634052  0.283055  0.679461  0.663663
8  0.594373  0.122516  0.697170  0.508097
9  0.755233  0.249606  0.225544  0.478347

In [47]:
#for sorting by a column (e.g. a, b, c, d)
df.sort_values(by='A')

          A         B         C         D
5  0.116508  0.342601  0.137179  0.041785
3  0.116848  0.118492  0.293472  0.739582
1  0.178177  0.143467  0.533088  0.852694
6  0.281401  0.000517  0.029195  0.733208
4  0.334276  0.638571  0.030365  0.573690
0  0.431342  0.839705  0.190764  0.577095
8  0.594373  0.122516  0.697170  0.508097
2  0.602483  0.793455  0.029708  0.896726
7  0.634052  0.283055  0.679461  0.663663
9  0.755233  0.249606  0.225544  0.478347

In [50]:
# selecting columns
df['A']

0    0.431342
1    0.178177
2    0.602483
3    0.116848
4    0.334276
5    0.116508
6    0.281401
7    0.634052
8    0.594373
9    0.755233
Name: A, dtype: float64

In [52]:
#selecting range of rows
df[0:2]

          A         B         C         D
0  0.431342  0.839705  0.190764  0.577095
1  0.178177  0.143467  0.533088  0.852694

In [65]:
#selecting a particular row
df.loc[0]

A    0.431342
B    0.839705
C    0.190764
D    0.577095
Name: 0, dtype: float64

In [66]:

#selecting by position 
df.iloc[0]

A    0.431342
B    0.839705
C    0.190764
D    0.577095
Name: 0, dtype: float64

In [56]:
#selecting a row and column
df.loc[0,['A']]

A    0.431342
Name: 0, dtype: float64

In [61]:
df.loc[1:4,['A']]

          A
1  0.178177
2  0.602483
3  0.116848
4  0.334276

In [64]:
#using at instead for faster access , can't be used for a range
df.at[1,'A']

0.178176998356685

In [70]:
#selecting by condition 
df[df.A>0.4]

          A         B         C         D
0  0.431342  0.839705  0.190764  0.577095
2  0.602483  0.793455  0.029708  0.896726
7  0.634052  0.283055  0.679461  0.663663
8  0.594373  0.122516  0.697170  0.508097
9  0.755233  0.249606  0.225544  0.478347

In [73]:
df2=df[df<.5]
print(df2)

          A         B         C         D
0  0.431342       NaN  0.190764       NaN
1  0.178177  0.143467       NaN       NaN
2       NaN       NaN  0.029708       NaN
3  0.116848  0.118492  0.293472       NaN
4  0.334276       NaN  0.030365       NaN
5  0.116508  0.342601  0.137179  0.041785
6  0.281401  0.000517  0.029195       NaN
7       NaN  0.283055       NaN       NaN
8       NaN  0.122516       NaN       NaN
9       NaN  0.249606  0.225544  0.478347

In [75]:
#drop all rows which have NaN
df2.dropna()

          A         B         C         D
5  0.116508  0.342601  0.137179  0.041785

In [77]:
#replace NaN with other values
df2.fillna(value=1)

          A         B         C         D
0  0.431342  1.000000  0.190764  1.000000
1  0.178177  0.143467  1.000000  1.000000
2  1.000000  1.000000  0.029708  1.000000
3  0.116848  0.118492  0.293472  1.000000
4  0.334276  1.000000  0.030365  1.000000
5  0.116508  0.342601  0.137179  0.041785
6  0.281401  0.000517  0.029195  1.000000
7  1.000000  0.283055  1.000000  1.000000
8  1.000000  0.122516  1.000000  1.000000
9  1.000000  0.249606  0.225544  0.478347

In [79]:
# taking mean
df.mean()

A    0.404469
B    0.353198
C    0.284594
D    0.606489
dtype: float64

In [80]:
# mean in other axis
df.mean(1)

0    0.509726
1    0.426857
2    0.580593
3    0.317098
4    0.394226
5    0.159518
6    0.261080
7    0.565058
8    0.480539
9    0.427183
dtype: float64